<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .reportHeader }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
      body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }

      .container {
        margin-top: 20px;
      }

      .test-row {
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
      }

      .test-row:hover {
        background-color: #f0f0f0;
      }

      .table td {
        word-wrap: break-word;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="title is-3 has-text-centered has-background-primary has-text-white p-4">{{ .reportHeader }}</h1>
        <table style="width: 100%;">
            <tr>
                <td>
<!--                    TODO: add button here-->
                </td>
            </tr>
        </table>

        <div class="notification is-info">
            <strong>Insights page for {{ .projectName }}</strong> <br>
            <strong>Average Duration:</strong> {{ .averageDuration }} seconds
            <strong>Total Tests Within Time Period: </strong> {{.numTests }}
        </div>
      <table class="table is-fullwidth">
          <caption style="font-weight: bold">Top Ten Time Consuming Tests</caption> <!--          TODO : parameterize the "ten" -->
        <thead>
          <tr>
            <th>Test Run ID</th>
            <th>Test Project Name</th>
            <th>Test Duration</th>
            <th>Spec Pass Rate</th>
            <th>Date</th>
            <th>Test Details</th>
          </tr>
        </thead>
        <tbody>
        {{ $testRuns := .testRuns }}
        {{range $testRun := $testRuns}}
            <tr class="test-row">
            <td class="test-serial-number">{{ $testRun.SuiteID }}</td>
            <td class="test-project-name">{{ $testRun.TestProjectName }}</td>
            <td class="test-duration">{{ CalculateDuration $testRun.StartTime $testRun.EndTime  }}</td>
            <td class="spec-pass-rate"> {{ $testRun.PassRate }}% </td>
            <td class="spec-pass-rate"> {{ FormatDate $testRun.StartTime }} </td>
            <td><button class="button is-info testdetails-btn" testdetails-url="/reports/testruns/{{ .SuiteID }}">Test Details</button></td>
          </tr>
        {{end}}
    </tbody>
    </table>

    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          document.querySelectorAll('.testdetails-btn').forEach(function (button) {
              button.addEventListener('click', function (event) {
                  event.stopPropagation();
                  const testUrl = event.target.getAttribute('testdetails-url');
                  window.open(testUrl, '_blank');
              });
          });
      });
    </script>
  </body>
</html>
