<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .reportHeader }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
      body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }

      .container {
        margin-top: 20px;
      }

      caption {
          font-size: 1.5em; /* Adjust the font size as needed */
          font-weight: bold; /* Optionally, make the caption bold */
      }

      .test-row {
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
      }

      .test-row:hover {
        background-color: #f0f0f0;
      }

      .table td {
        word-wrap: break-word;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="title is-3 has-text-centered has-background-primary has-text-white p-4">{{ .reportHeader }}</h1>
        <table style="width: 100%;">
            <tr>
                <td>
                  <div class="field">
                    <label class="label">Select Time Period</label>
                    <div class="control">
                      <div class="select">
                        <select id="timePeriodSelect">
                            <option value="15m" {{ if eq .timePeriod "15m" }}selected{{ end }}>15 minutes</option>
                            <option value="1h" {{ if eq .timePeriod "1h" }}selected{{ end }}>1 hour</option>
                            <option value="4h" {{ if eq .timePeriod "4h" }}selected{{ end }}>4 hours</option>
                            <option value="24h" {{ if eq .timePeriod "24h" }}selected{{ end }}>1 day</option>
                            <option value="48h" {{ if eq .timePeriod "48h" }}selected{{ end }}>2 days</option>
                            <option value="168h" {{ if eq .timePeriod "168h" }}selected{{ end }}>1 week</option>
                            <option value="336h" {{ if eq .timePeriod "336h" }}selected{{ end }}>2 weeks</option>
                            <option value="720h" {{ if eq .timePeriod "720h" }}selected{{ end }}>1 month</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </td>
            </tr>
        </table>

        <table class="table is-bordered is-narrow is-fullwidth">
            <caption style="font-weight: bold">Summary of Test Insights</caption>
            <tbody>
            <tr>
                <th>Project Name</th>
                <th>Average Duration (sec)</th>
                <th>Total Tests Within Time Period</th>
            </tr>
            <td>{{ .projectName }}</td>
            <td>{{ .averageDuration }} </td>
            <td>{{ .numTests }}</td>
            </tbody>
        </table>

        <table class="table is-fullwidth">
          <caption style="font-weight: bold">Top Ten Time Consuming Tests</caption>
        <thead>
          <tr>
            <th>Test Run ID</th>
            <th>Test Project Name</th>
            <th>Test Duration</th>
            <th>Spec Pass Rate</th>
            <th>Test Date</th>
            <th>Test Details</th>
          </tr>
        </thead>
        <tbody>
        {{ $testRuns := .testRuns }}
        {{range $testRun := $testRuns}}
            <tr class="test-row">
            <td class="test-serial-number">{{ $testRun.SuiteID }}</td>
            <td class="test-project-name">{{ $testRun.TestProjectName }}</td>
            <td class="test-duration">{{ CalculateDuration $testRun.StartTime $testRun.EndTime  }}</td>
            <td class="spec-pass-rate"> {{ $testRun.PassRate }}% </td>
            <td class="spec-pass-rate"> {{ FormatDate $testRun.StartTime }} </td>
            <td><button class="button is-info testdetails-btn" testdetails-url="/reports/testruns/{{ $testRun.SuiteID }}">Test Details</button></td>
          </tr>
        {{end}}
    </tbody>
    </table>

    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          document.querySelectorAll('.testdetails-btn').forEach(function (button) {
              button.addEventListener('click', function (event) {
                  event.stopPropagation();
                  const testUrl = event.target.getAttribute('testdetails-url');
                  window.open(testUrl, '_blank');
              });
          });

          document.getElementById('timePeriodSelect').addEventListener('change', function () {
              const select = document.getElementById('timePeriodSelect');
              const timePeriod = select.value;
              const projectName = "{{ .projectName }}";
              window.location.href = `/insights/${projectName}?timePeriod=${timePeriod}`;
          });
      });
    </script>
  </body>
</html>
